<%- partial('_pre') %>
<%
function getURL(url) {
  if (url.indexOf('://') < 0) {
    return url_for_lang(url);
  } else {
    return url;
  }
}
%>
<section class="widget <%- item.class %> <%- page.widget_style %> <%- page.widget_platform %>">
  <%- partial('header', {item: item}) %>
  <div class='content'>
    <ul class="grid navigation">
      <% (item.rows||[]).forEach(function(row){ %>
        <li><a class="flat-box" title="<%- getURL(row.url) %>" href="<%- getURL(row.url) %>"
          <% if (row.rel) { %>
            rel="<%- row.rel %>"
          <% } %>
          <% if (row.target) { %>
            target="<%- row.target %>"
          <% } %>
          id="<%= getURL(row.url).replace(/\/|%/g, "")?getURL(row.url).replace(/\/|%/g, ""):"home" %>">
          <% if (row.img) { %>
            <img src="<%- row.img %>">
          <% } else if(row.avatar) { %>
            <img src="<%- row.avatar %>" id="round">
          <% } else { %>
            <i class="<%= row.icon %> fa-fw" aria-hidden="true"></i>
          <% } %>
          <%- row.name %>
        </a></li>
      <% }) %>
    </ul>
  </div>
</section>
